<!DOCTYPE html>
<html lang="{{ WEBIIK_LANG }}">
    <head>
        <meta charset="utf-8">

        {# Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Basic SEO #}
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.desc }}">
        <meta name="keywords" content="{{ seo.kw }}">
        <meta name="robots" content="all,follow">

        {# Load polyfills for old browsers #}
        {# https://webpack.js.org/guides/shimming/#loading-polyfills #}
        <script>
            var modernBrowser = 'fetch' in window && 'assign' in Object;
            if (!modernBrowser) {
                var scriptElement = document.createElement('script');
                scriptElement.async = false;
                scriptElement.src = '{{ WEBIIK_BASE_URL }}/assets/js/polyfills.js';
                document.head.appendChild(scriptElement);
            }
        </script>

        {# Load route related CSS #}
        {{ getCSS(getRoute()) }}
    </head>
    <body>
        {# Define webpackData variable which is imported by Webpack #}
        <script>var webpackData = {};</script>

        {# Route related webpackData #}
        {% block webpackData %}{% endblock %}

        {# Load route related JS required before DOM elements in the block content are ready #}
        {{ getJS(getRoute(), true) }}

        {# Route related content #}
        {% block content %}{% endblock %}

        {# Load route related JS required after DOM elements in the block content are ready #}
        {{ getJS(getRoute(), false) }}
    </body>
</html>