<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        {% block head %}
        <meta charset="utf-8">

        {# Basic SEO #}
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.desc }}"/>
        <meta name="keywords" content="{{ seo.kw }}"/>
        <meta name="robots" content="all,follow"/>

        {# CSS #}
        {#<link rel="stylesheet" href="{{ ROOT }}/assets/css/main.css" type="text/css" media="screen"/>#}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav>
                <ul>
                    {% for key, page in nav %}
                        {# Always show nav item #}
                        {% if page[1] == 0 %}
                            <li><a href="{{ urlFor(key) }}">{{ page[0] }}</a></li>
                        {% endif %}
                        {# Show nav item only when user is not logged in #}
                        {% if not isUserLogged() and page[1] == 1 %}
                            <li><a href="{{ urlFor(key) }}">{{ page[0] }}</a></li>
                        {% endif %}
                        {# Show nav item only when user is logged in #}
                        {% if isUserLogged() and page[1] == 2 %}
                            <li><a href="{{ urlFor(key) }}">{{ page[0] }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>