{% extends "base.twig" %}
{% block content %}
    <h1>{{ seo.title }}</h1>
    <p>{{ seo.desc }}</p>
    {% for key, messages in messages() %}
        {% for message in messages %}
            {{ message|raw }}
        {% endfor %}
    {% endfor %}
    <form action="" method="post">
        <input type="text" name="email" placeholder="email" value="{{ form.data.email }}">
        {{ form.msg.err.email.0 }}
        <input type="password" name="pswd" placeholder="password" value="{{ form.data.pswd }}">
        {{ form.msg.err.pswd.0 }}
        <input type="checkbox" id="permanent" name="permanent"{% if form.data.permanent %} checked{% endif %}/> Stay
        signed in
        {{ csrfInput() }}
        {% if referrer %}
            <input type="hidden" name="ref" value="{{ referrer }}">
        {% endif %}
        <input type="submit" value="login">
    </form>
    <ul>
        <li>
            <a class="socialLink" href="{{ urlFor('social-facebook') }}{{ social.qs }}">Login with Facebook</a>
        </li>
        <li>
            <a href="">Login with Google</a>
        </li>
        <li>
            <a href="">Login with Twitter</a>
        </li>
    </ul>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        /*
        * Update query string of social login links
        * when user checks permanent login option
        */
        document.getElementById('permanent').onclick = function () {

            var qs = '{{ social.qs }}';

            if (this.checked) {
                if(qs.length > 0){
                    qs += '&permanent=1';
                } else {
                    qs += '?permanent=1';
                }
            }

            var socialLinks = document.getElementsByClassName('socialLink');
            for (var i = 0; i < socialLinks.length; i++) {
                socialLinks[i].href = socialLinks[i].href + qs;
            }
        };
    </script>
{% endblock %}