<!DOCTYPE html>
<html lang="{{ WEBIIK_LANG }}">
    <head>
        <meta charset="utf-8">

        {# Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Basic SEO #}
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.desc }}">
        <meta name="keywords" content="{{ seo.kw }}">
        <meta name="robots" content="all,follow">

        {# CSS #}
        <link rel="stylesheet" href="{{ WEBIIK_BASE_PATH }}assets/app/css/main.css" type="text/css">

        {# Favicons #}
        {#<link rel="icon" type="image/png" sizes="32x32" href="{{ WEBIIK_BASE_PATH }}assets/app/img/favicon/favicon-32x32.png">#}
        {#<link rel="icon" type="image/png" sizes="16x16" href="{{ WEBIIK_BASE_PATH }}assets/app/img/favicon/favicon-16x16.png">#}
        {#<link rel="shortcut icon" href="{{ WEBIIK_BASE_PATH }}assets/app/img/favicon/favicon.ico">#}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {#<script src="{{ WEBIIK_BASE_PATH }}/assets/app/js/vendors~main.js"></script>#}
        <script src="{{ WEBIIK_BASE_PATH }}assets/app/js/main.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>