{% extends "base.twig" %}
{% block content %}
    <h1>{{ seo.title }}</h1>
    <p>{{ seo.desc }}</p>
    <p>{{ t1 }}</p>
    <p>{{ t2 }}</p>
    <p>{{ ROOT }}{{ uriFor('account') }}</p>
    <p>{{ isCurrentRoute(currentRoute()) }}</p>
    <p>{{ _t('t7') }}</p>
    <p>{{ _p('t1', {'timeStamp' : '1478265331'}) }}</p>
{% endblock %}